<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 h-screen flex flex-col items-center justify-center">
    <div class="max-w-md w-full bg-white p-8 rounded shadow-md">
        <h1 class="text-2xl mb-4 text-center font-semibold">Bienvenue sur Netproject</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="mb-2 bg-blue-100 border-l-4 border-blue-500 text-blue-700 px-4 py-2 rounded"
                            role="alert">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="flex justify-center space-x-4 mt-6">
            <a href="{{ url_for('login') }}"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-200">Connexion</a>
            <a href="{{ url_for('register') }}"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-200">Inscription</a>
            <a href="{{ url_for('support') }}"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-200">Support</a>
        </div>
    </div>
</body>

</html>
