<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfert de fichiers</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <div class="max-w-lg mx-auto p-8 bg-white rounded shadow-md">
        <h1 class="text-2xl mb-4 font-semibold">Transfert de fichiers</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="mb-2 bg-blue-100 border-l-4 border-blue-500 text-blue-700 px-4 py-2 rounded"
                            role="alert">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h2 class="text-xl mb-2">Téléchargement de dossier</h2>
        <form method="post" action="{{ url_for('transfer_ff') }}" enctype="multipart/form-data">
            <input type="file" name="file" webkitdirectory directory multiple
                class="border border-gray-300 p-2 mb-4 w-full">
            <input type="submit" value="Télécharger" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>

        <h2 class="text-xl mb-2">Téléchargement de fichier</h2>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" multiple class="border border-gray-300 p-2 mb-4 w-full">
            <input type="submit" value="Upload" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>

        <p class="text-red-500 text-sm">Attention : Taille maximale de 16 Mo pour le téléchargement de fichier et de dossier.</p>
    </div>
</body>

</html>
